<%- include('partials/header') %>

<h2 class="mb-4 text-primary">LIBROS PRESTADOS CON MORA MAS DE UN MES</h2>

<div class="card shadow">
  <!-- Título con fondo personalizado -->
  <div class="card-title bg-secondary text-white p-3 rounded-top">
    <h5 class="mb-0">
      <i class="bi bi-person-circle me-2"></i>
      <%= libros.titulo %>
    </h5>
  </div>

  <!-- Contenido del cuerpo -->
  <h2 class="mb-4 text-primary">LIBROS PRESTADOS CON MORA MAS DE UN MES</h2>

<!-- Lista de usuarios -->
<ul class="list-group mb-4 shadow-sm">
  <% if (libros.length > 0) { %>
    <% libros.forEach(libro => { %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><strong><%= libro.titulo %></strong> - <%= libro.usuario %> - <strong><%= libro.fecha_prestamo %></strong> </span>
        <!-- <div class="d-flex">
          <a href="/usuarios/ver/<%= usuario.id %>" class="btn btn-info btn-sm me-2">Ver</a>
          <a href="/usuarios/editar/<%= usuario.id %>" class="btn btn-sm btn-warning me-2">Editar</a>
          <a href="/usuarios/eliminar/<%= usuario.id %>" class="btn btn-sm btn-danger">Eliminar</a>
        </div> -->
      </li>
    <% }); %>
  <% } else { %>
    <li class="list-group-item text-muted">No hay libros registrados.</li>
  <% } %>
</ul>

</div>

<%- include('partials/footer') %>
